@{
    ViewBag.Title = "About";
}
<h2>Acerca de nosotros</h2>
<hr />
<br />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Quiénes somos?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Somos una empresa con grandes aspiraciones de fomentar la salud física y mental, otorgando beneficios a su vida diaria.
                Contamos con instructores capacitados con años de experiencia en la materia, brindando productos y programas de calidad.
                Estamos comprometidos con mejorar la calidad de vida de las personas a través de la filosofía del ejercicio y de inculcar en la vida de toda la comunidad
                el valor de la salud y el ejercicio.
                Contamos con equipo cardiovascular y muscular, programas aeróbicos (salsa, zumba, aerobics, zamba, y pilates),
                con cursos variados para todos los niveles, personal altamente calificado y flexibilidad horaria total.
                Nos caracterizamos por brindar un servicio personalizado que podrás comprobar desde el primer día en el gimnasio, el cual se inicia con una evaluación física
                para determinar un programa de ejercicios ideal para ti, una asesoría nutricional que te ayudará a mantener una dieta adecuada y finalmente el diseño de una rutina de entrenamiento
                que te será explicada por un entrenador que te asesorará en todo momento durante tu sesión de ejercicios.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Misión
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                En AMOS Gym nos dedicamos pura y exclusivamente a nuestros clientes, con la misión de mejorar su calidad de vida a través de la práctica de la actividad física,
                ofreciéndoles las mejores y más amplias instalaciones atendidas por profesionales altamente calificados, brindando equipamiento de última generación.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Visión
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Ser un gimnasio líder en brindar bienestar a la población, destacándonos por la excelencia en nuestros servicios, instalaciones modernas y personal idóneo.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Valores
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <ul>
                    <li>Pasión por lo que hacemos</li>
                    <li>Equipo profesional</li>
                    <li>Confianza</li>
                    <li>Calidad</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85232023-1', 'auto');
  ga('send', 'pageview');

</script>