@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<hr />

<strong>Dirección <span class="glyphicon glyphicon-map-marker"></span></strong>
<address>
    Santa Fé 2479<br />
    Rosario, Argentina<br />
    <abbr title="Teléfono">Tel:</abbr>
    (341) 400-0123. <span class="glyphicon glyphicon-phone-alt"></span>
</address>

<strong>Horario <span class="glyphicon glyphicon-time"></span></strong> 
<address>
    Lunes a Viernes 08:00 a 22:00.
    Sábados 09:00 a 12:00 y 18:00 a 21:00.
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:info@gimnasioamos.com">info@gimnasioamos.com</a><br />
    <strong>Facebook:</strong>  <a href="http://www.facebook.com/gimnasioamos" target="_blank">www.facebook.com/gimnasioamos</a>
</address>

<strong>Dónde estamos <span class="glyphicon glyphicon-map-marker"></span></strong>
<div class="col-lg-8 iframe-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.348850942747!2d-60.65886528530459!3d-32.94179798092251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab46bb04d8c3%3A0x817f8dc88b0f220f!2sSta+Fe+2479%2C+S2000KTE+Rosario%2C+Santa+Fe!5e0!3m2!1ses!2sar!4v1475111743447" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85232023-1', 'auto');
  ga('send', 'pageview');

</script>